body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('http://haodocs.oss-ap-southeast-1.aliyuncs.com/image/background-first-page.png') no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
