body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('http://haodocs.oss-ap-southeast-1.aliyuncs.com/image/DALL%C2%B7E%202024-05-21%2009.16.49%20-%20Create%20a%20vibrant%20and%20inviting%20homepage%20banner%20image%20for%20the%20website%20streamnz.com%20with%20a%20white%20background.%20The%20banner%20should%20include%20modern%20and%20attract.webp') no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
